{{yield}}
<div style="display:flex;flex-direction: column;align-items: center;justify-content: center;">
    <img style="width:300px" src="https://raw.githubusercontent.com/emberjs/website/master/source/images/brand/ember_Ember-Light.png" />

    <h1>This is Ember.js App</h1>
    <h4>Importing react web component into ember</h4>
        
        <fancy-button parentvalue="Hello from Ember"></fancy-button>

</div>
